<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item [routerLink]="['fixtures']">
      Fixtures
    </ion-item>
    <ion-item [routerLink]="['teams']">
      Teams
    </ion-item>
    <ion-item [routerLink]="['phases']">
      Phases
    </ion-item>
    <ion-item [routerLink]="['players']">
      Players
    </ion-item>
    <ion-item [routerLink]="['prizes']">
      Prizes
    </ion-item>
  </ion-list>
</ion-content>
